body {
    font-family: sans-serif;
    margin: 0;
    background: white;
}

h1, h3{
    margin: 0;
    padding: 0;
}

main{
    height: calc(100vh - 3rem);
    display: flex;
    justify-content: center;
    align-items:center;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 5px 10px rgb(149, 149, 150);
    background-color: #fff;
}

.menu h3{
    color:rgb(110, 161, 238);
}

.menu h3:hover{
    color:seagreen;
}

.menu ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu ul li a{
    padding-left: 20px;
    text-decoration:none;
    color: #181818;
    font-weight: 700;
}

.menu ul:not(:first-child) a {
    margin-left: 5px;
}

.menu ul a:hover{
    color: #3e32e2;
}

.menu ul a:active {
    color: #777777;
}

.color-control {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.color-text h1{
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: 700;
    letter-spacing: 2px;
}

#text-color {
    text-transform: uppercase;
}

.color-control button{
    background-color: transparent;
    padding: 10px 15px;
    border: 2px solid #1b1a1a;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 15px;
    letter-spacing: 1px;
    cursor: pointer;
}

.color-control button:hover {
    background-color: #0606061a;
}

.color-control button:active {
    background-color: #06060638;

}